/* Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: 'Baloo Paaji 2', 'cursive';
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #272727;
}

h1 {
    color: #ff652f;
}

/* Wrappers */
#app {
    width: 60%;
    min-width: 600px;
}

.columns {
    padding: 5px;
}

.column {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 5px;
    background-color: #747474;
    border: 2px solid #747474;
    border-radius: 5px;
    cursor: pointer;
    transform: rotate(360deg);
    transition: background 500ms, border 500ms, transform 500ms;
}

.green {
    background-color: #14a76c;
    border: 2px solid #14a76c;
    transform: rotate(0deg);
}

.yellow {
    background-color: #ffe400;
    border: 2px solid #ffe400;
    transform: rotate(0deg);
}